
@model CSC340_ordering_sytem.ViewModels.AuthenticationLoginViewModel

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
    }

    @ViewBag.state

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Password)
        @Html.CheckBoxFor(model => model.IsPersistant)
    </div>

    <input type="submit" class="btn btn-success btn-block" value="Login" />
}