@using CSC340_ordering_sytem.Models

<li>
    @Html.ActionLink("Menu", "ListCategories", "FrontMenu")
    <ul>
        @foreach (Category c in ViewBag.MenuCategories)
        {
            <li>
                @Html.ActionLink(c.Name, "CategoryItems", new { controller = "FrontMenu", slug = c.Url })
            </li>
        }
    </ul>
</li>

<li>
    <a href="#">
        <div>My Account</div>
    </a>
    <ul>
        @Html.ActionLink("Account Info", "CustomerAccountOverview", "Users")
        <li>
            <a href="#">Check Out</a>
        </li>
        <li>
            @Html.ActionLink("Logout", "Logout", "Authentication")
        </li>
    </ul>
</li>

@Html.Partial("_ShoppingCart")
