@using MvcFlashMessages
<!DOCTYPE html>
<html lang="en">
    @Html.Partial("_HeadPartial")

    <body>
    <!-- Header -->
        @Html.Partial("_HeaderPartial")

        <!-- Document Content
        ============================================= -->
        <div id="content">
            <section class="padding-50">
                <div class="container">
                    @Html.RenderFlash()
                    @RenderBody()
                </div>
            </section>
        </div>
        <!-- End content !-->

        <!-- Footer -->
        @Html.Partial("_Footer")

        <!-- Scripts -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/Scripts")
        @RenderSection("scripts", required: false)
    </body>
</html>