@model IEnumerable<CSC340_ordering_sytem.Models.Address>

@{
    ViewBag.Title = "My Addresses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-xs-6 text-right">
        @Html.ActionLink("Add", "Create", null, new { @class = "margin-top-15 btn btn-gold"})
    </div>
</div>

@{
    if (Model.Any())
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zip)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zip)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">You haven't saved any addresses yet.</h3>
    }
}

@Html.ActionLink("Back to account", "CustomerAccountOverview", "Users")