@using System.Resources
@model CSC340_ordering_sytem.ViewModels.MenuItemSaveViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<form action="" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId, "CategoryId", htmlAttributes: new { @class = "control-label" })
        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.LabelFor(m => m.Image)
                @Html.TextBoxFor(m => m.Image, new { type = "file" })
            </div>
        </div>
        <div class="col-sm-6">
            @if (!string.IsNullOrEmpty(Model.CurrentImageUrl))
            {
                <div class="well">
                    <label>Current Image</label>
                    <div class="text-center">
                        <img src="@Url.Content(Model.CurrentImageUrl)" class="max-image"/>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            @Html.ActionLink("Back to list", "Index", "MenuItems", new { slug = Model.Category.Url }, null)
        </div>
        <div class="col-xs-6 text-right">
            <input type="submit" value="Save" class="btn btn-gold" />
        </div>
    </div>
</form>