@model IEnumerable<CSC340_ordering_sytem.Models.MenuItem>

@{
    ViewBag.Title = "Menu Items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-6">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-xs-6 text-right">
        @Html.ActionLink("Add Menu Item", "Create", "", new {@class = "btn btn-gold"})
    </div>
</div>


@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Category
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="text-center">No menu items have been created</h3>
}

@Html.RouteLink("Back to menu", "AdminMenu")