@model IEnumerable<CSC340_ordering_sytem.Models.Order>

@{
    ViewBag.Title = "Orders On-Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("AdminOrdersNav")

@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderNumber)
                </th>
                <th>
                    Customer Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td>
                        @item.Customer.GetFullName()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td class="text-right">
                        @using (Html.BeginForm())
                        {
                            <input type="hidden" name="OrderNumber" value="@item.OrderNumber" />
                            <input type="submit" value="Complete Order" class="btn btn-sm btn-custom btn-yellow" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="text-center">No orders are being delivered at this time</h3>
}
