@using CSC340_ordering_sytem.Models
@model CSC340_ordering_sytem.Models.Customer

@{
    ViewBag.Title = "My Account";
}

<div class="row">
    <div class="col-sm-6">
        <h2>Welcome <span class="text-success">@Model.GetFullName()</span></h2>
        <p>@Model.Email</p>
    </div>
    <div class="col-sm-6 text-right margin-top-15">
        @Html.RouteLink("Update Account", "CustomerEditAccount",null, new { @class = "btn btn-gold"})
        @Html.ActionLink("Delivery Addresses", "Index", "Addresses", null, new { @class = "btn btn-black" })
        @Html.ActionLink("Credit Cards", "Index", "CreditCards", null, new { @class = "btn btn-black" })
    </div>
</div>


<h2>Orders</h2>
@{
    if (Model.Orders.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Order #</th>
                    <th>Delivery Address</th>
                    <th>Credit Card</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Orders)
                {
                    <tr>
                        <td>@order.OrderNumber</td>
                        <td>@order.DeliveryAddress.Street</td>
                        <td>***@order.CreditCard.CardSuffix</td>
                        <td>@order.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-center">You haven't made an order yet.</h3>
    }
}